<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add connectionString="Data Source=ERPSERVER64;Initial Catalog=bapEmpresa02;User ID=bapsoft;Password=peru@09121824" name="CONEX" />
  </connectionStrings>
</configuration>